---
import PokemonList from '../components/PokemonList';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon List</title>
    <meta name="description" content="List of pokemons with their name, image and type">
    <link rel="icon" href="/public/pokemon.png" type="image/x-icon">
  </head>
  <body class="bg-lightyellow text-dark">
    <h1 class="text-3xl font-bold mb-8 text-center mt-4">Pokemons:</h1>
    <PokemonList client:load />
  </body>
</html>
